Ans-1 - Variable Containing String, List, Float, Tuple

In [1]:
s="Seema"

In [2]:
s

'Seema'

In [3]:
list = [2,34,5.0,6.0,"Radha"]

In [4]:
list

[2, 34, 5.0, 6.0, 'Radha']

In [6]:
tuple=(5,7,9,6.5,"Seema")

In [7]:
tuple

(5, 7, 9, 6.5, 'Seema')

In [8]:
type(tuple)

tuple

In [11]:
a=[]
a.append(s)
a.append(list)
a.append(tuple)
print(a)

['Seema', [2, 34, 5.0, 6.0, 'Radha'], (5, 7, 9, 6.5, 'Seema')]

Ans-2 some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

In [36]:
var1 = ' '

In [45]:
type(var1)

str

In [42]:
 var2 = [ "DS" , "ML" , "Python"]

In [44]:
type(var2)

list

In [28]:
var3

['DS', 'ML', 'Python']

In [46]:
var4 = 1.

In [47]:
type(var4)

float

Ans - 3

In [50]:
a=40
b=50
print(a/b)
print(a%b)
print(a//b)
print(a**b)

0.8
40
0
126765060022822940149670320537600000000000000000000000000000000000000000000000000

Ans-4

In [56]:
list = [2,3,4,5,"Seema", "Dabas", 25.65,89.45,True, "pwskills"]
for i in list:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
Seema
<class 'str'>
Dabas
<class 'str'>
25.65
<class 'float'>
89.45
<class 'float'>
True
<class 'bool'>
pwskills
<class 'str'>

Ans-5

In [3]:
a=int(input())
b=int(input())
c=0
if a/b==0:
    print("a is divisible by b")
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("not divisible")

 5
 2

not divisible

In [16]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
i = [a]
b = []
for i in a:
    if i%3==0:
        print("Yes Divisible by 3")
    else:
        print("not divisible by 3")

not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3
not divisible by 3
Yes Divisible by 3
not divisible by 3

Ans-7:- Mutable objects are those objects which can be modified after created for example lists, dictionaries, and sets. and immutable objects can't be modified after created like strings, tuples.Examples given below:-

In [17]:
list1 = ["Seema","Dabas", "pwskills"]

In [24]:
print(len(list1))

4

In [18]:
list1.insert(2, [8,9,10])

In [19]:
list1

['Seema', 'Dabas', [8, 9, 10], 'pwskills']

In [23]:
print(len(list1))

4

In [20]:
tuple = (5,6,7,8,"Seema", "DS")

In [21]:
type(tuple)

tuple

In [22]:
print(len(tuple))

6

In [25]:
tuple.insert(2,3,4)

AttributeError: 'tuple' object has no attribute 'insert'