Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [6]:
player_run = [('sachin tendulkar', 34357), ('Ricky Pointing', 27483), ('Jack kallis', 25534), ('Virat Kholi', 24936)]
print("Original player_run: ")
print(player_run)
player_run.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(player_run)

Original player_run:
[('sachin tendulkar', 34357), ('Ricky Pointing', 27483), ('Jack kallis', 25534), ('Virat Kholi', 24936)]

Sorting the List of Tuples:
[('Virat Kholi', 24936), ('Jack kallis', 25534), ('Ricky Pointing', 27483), ('sachin tendulkar', 34357)]

Q2. find the squares of all the numbers given in a list of integers uwsing labda and map function.
l = [1,2,3,4,5,6,7,8,9,10]

In [8]:
l= [1,2,3,4,5,6,7,8,9,10]
square_l = list(map(lambda x: x ** 2, l))
print(square_l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q-3 Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
s = [1,2,3,4,5,6,7,8,9,10]
s1= tuple(map(str,s))
print("Excepted Output: ")
print(s1)

Excepted Output:
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.  Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [18]:
from functools import reduce

In [22]:
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce (lambda x,y:x*y, list)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [51]:
numbers = [2,3,6,9,27,60,90,120,55,46]

In [52]:
numbers

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [54]:
list(filter(lambda x:x%2 ==0, numbers))

TypeError: 'list' object is not callable

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [58]:
list1 = ['python', 'php', 'aba', 'radar', 'level']
list1[::-1]

['level', 'radar', 'aba', 'php', 'python']

In [60]:
list_of_strings = ['ferrari', 'racecar', 'tesla', 'level', 'technoking']

# use an anonymous function to filter palindromes.
result = list(filter(lambda x: (x == ''.join(reversed(x))), list_of_strings))

# print the palindromes
print(result)

TypeError: 'list' object is not callable