## MYSQL Assignment

Ans - 1 
Database is the collection of organized data that is structured and stored electronically on a computer system. Databases can store data in the form of tables depending upon the type of database. The database's primary goal is to store a huge amount of data.
SQL Database:- Databases are categorized as Relational Database Management System (RDBMS), SQL databases have fixed or static or predefined schema., SQL databases display data in form of tables so it is known as table-based database.
No SQL Database:- NoSQL databases are categorized as Non-relational or distributed database system.,NoSQL databases have dynamic schema.,NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.

Ans - 2
Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.
1. CREATE is a DDL command used to create databases, tables, triggers and other database objects.Syntax of Create Command
    CREATE Database Database_Name;  
2. DROP is a DDL command used to delete/remove the database objects from the SQL database. We can easily remove the entire table, view, or index from the database using this DDL command.Syntax of Drop Command:-
    DROP DATABASE Database_Name;  
3. ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.Syntax of Alter Command:-
    ALTER TABLE name_of_table ADD column_name column_definition;  
4. TRUNCATE is another DDL command which deletes or removes all the records from the table. Syntax of TRUNCATE Command:-
    TRUNCATE TABLE Table_Name;

Ans-3 
The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
1. SELECT is the most important data manipulation command in Structured Query Language. The SELECT command shows the records of the specified table. It also shows the particular record of a particular column by using the WHERE clause.
    SELECT column_Name_1, column_Name_2, â€¦.., column_Name_N FROM Name_of_table;  
2. INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
    INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;   
3. DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
    DELETE FROM Table_Name WHERE condition;

Ans -4 
DQL is used to fetch the data from the database.It uses only one command:
SELECT
 SELECT: This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.
 SELECT expressions    
FROM TABLES    
WHERE conditions;  

For Example:-
SELECT emp_name  
FROM employee  
WHERE age > 20;

Ans-5 
Primary Key: - The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship

Foreign Key: - The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables.

The main difference between them is that the primary key identifies each record in the table, whereas the foreign key is used to link two tables together.

In [ ]:
#Ans- 6
import mysql.connector
conn = mysql.connector.connect(user='root', password='password', host='127.0.0.1', database='mydatabase')
cursor=conn.cursor()

In [ ]:
Ans- 7
ORDER BY
FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY, LIMIT